@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 0 75px;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
  text-align: right;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
}

header a {
  color: #fff;
}

nav {
  background: #333;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  width: 100;
}

.nav-container {
  max-width: 80vw;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.nav-container li {
  float: right;
}

.nav-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 40px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 100vw;
}

.card {
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:500px;
  font-size: calc(1vw*1vh);
}


.card img{
  height:75%;
}

.card .post-title{
  margin: 10px 0;
  margin-bottom: 5px;
  
}

.card-page {
  padding: 15px 30px;
}

.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* .post-title {
  margin: 10px 0;
} */

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
  padding-left: 3%;
}

.post-body a {
  color: steelblue;
}

.post-body img[alt^="post"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 900px) {
  .posts {
    grid-template-columns: 1fr;
  }
}